<div class="file box rounded-md px-5 pt-8 pb-5 px-3 sm:px-5 relative zoom-in">
    <div class="absolute left-0 top-0 mt-3 ml-3">
        <input class="form-check-input border border-slate-500" type="checkbox">
    </div>
    <a href="file-manager.html" class="w-3/5 file__icon file__icon--file mx-auto">
        <div class="file__icon__file-name">TXT</div>
    </a>
    <a href="file-manager.html" class="block font-medium mt-4 text-center truncate">Resources.txt</a>
    <div class="text-slate-500 text-xs text-center mt-0.5">2.2 MB</div>
    <div class="absolute top-0 right-0 mr-2 mt-3 dropdown ml-auto">
        <a class="dropdown-toggle w-5 h-5 block" href="javascript:;" aria-expanded="false" data-tw-toggle="dropdown">
            <i data-lucide="more-vertical" class="w-5 h-5 text-slate-500"></i>
        </a>
        <div class="dropdown-menu w-40">
            <ul class="dropdown-content">
                <li>
                    <a href="file-manager.html" class="dropdown-item">
                        <i data-lucide="users" class="w-4 h-4 mr-2"></i> Share File
                    </a>
                </li>
                <li>
                    <a href="file-manager.html" class="dropdown-item">
                        <i data-lucide="trash" class="w-4 h-4 mr-2"></i> Delete
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>