<h2>Key: {{key}}</h2>
<!-- radio button to switch the current_state -->
<input type="radio" name="state" value="encrypt" (click)="current_state='encrypt'">Encrypt
<input type="radio" name="state" value="decrypt" (click)="current_state='decrypt'">Decrypt

<!-- show this div if current_state="encrypt" -->
<div id="encrypt_div" [hidden]="current_state!='encrypt'">
  <h1>Encryption</h1>
  <button (click)="select_files_to_encrypt()">
    Select files
  </button>
  <button (click)="select_encryption_destination_folder()">
    Select destination folder
  </button>
  <h2> Selected Files</h2>
  <ul>
    <li *ngFor="let file of encryption_selected_files">
      {{file}}
    </li>
  </ul>

  <h2>Destination Encryption path</h2>
  <h3>{{encryption_destination_folder}}</h3>

  <button (click)="encrypt_all()">
    Encrypt
  </button>
  <ul>
    <li *ngFor="let error of encrypt_errors">
      {{error}}
    </li>
  </ul>
  <!-- success message -->
  <h3 id="success_message" [hidden]="!encryption_success"> Success ✅</h3>
</div>
<div class="decrypt_div" [hidden]="current_state!='decrypt'">
  <h1>Decryption</h1>
  <button (click)="select_files_to_decrypt()">
    Select files
  </button>
  <button (click)="select_decryption_destination_folder()">
    Select destination folder
  </button>
  <h2> Selected Files</h2>
  <ul>
    <li *ngFor="let file of decryption_selected_files">
      {{file}}
    </li>
  </ul>
  
  <h2>Destination Decryption path</h2>
  <h3>{{decryption_destination_folder}}</h3>
  
  <div id="decrypt_success" [hidden]="!decryption_success">Success ✅</div>
  <button (click)="decrypt_all()">
    Decrypt
  </button>
  <ul>
    <li *ngFor="let error of decrypt_errors">
      {{error}}
    </li>
  </ul>
</div>

