<nav class="side-nav">
    <a class="intro-x flex items-center pl-5 pt-4">
        <!-- <img alt="Midone - HTML Admin Template" class="w-6" src="dist/images/logo.svg"> -->
        <i class="fa-solid fa-ghost text-xl"></i>
    </a>
    <div class="side-nav__devider my-6"></div>
    <ul>
        <li>
            <a [routerLink]="'/encrypt'" class="side-menu" routerLinkActive="side-menu--active">
                <div class="side-menu__icon">
                    <i class="fa-solid fa-lock text-xl"></i>
                </div>
                <div class="side-menu__title">
                    Encrypt
                </div>
            </a>
        </li>
        <li>
            <a [routerLink]="'/decrypt'" class="side-menu" routerLinkActive="side-menu--active">
                <div class="side-menu__icon">
                    <i class="fa-solid fa-unlock text-xl"></i>
                </div>
                <div class="side-menu__title">
                    Decrypt
                </div>
            </a>
        </li>
        <li class="side-nav__devider my-6"></li>
        <li>
            <a class="side-menu">
                <div class="side-menu__icon">
                    <i data-lucide="edit"></i>
                </div>
                <div class="side-menu__title">
                    Settings
                    <div class="side-menu__sub-icon ">
                        <i data-lucide="chevron-down"></i>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</nav>