/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #1b253b;
    --secondary: #232d45;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}
.intro h5, .intro p, .intro div{
    transform: translateY(50px);
    animation: 0.4s intro-y-animation ease-in-out 0.33333s;
    animation-fill-mode: forwards;
    animation-delay: calc(1 * 0.1s);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
}

.folder_section > .intro-y.col-span-8 > ul{
    overflow-y: auto;
    max-height:60vh;
    overflow-x: hidden;
}
.file_section{
    overflow-y: auto;
    max-height: 60vh;
    overflow-x: hidden;
}

.box-success {
    // border: 2px solid #00b500 !important;
    border: 2px solid linear-gradient(to right top, #66cf4f, #73d644, #82dc37, #91e226, #a1e800);
    // box-shadow: 5px 5px #00b500!important;
}