<div class="grid grid-cols-12 gap-6 mt-8">
    <div class="col-span-12 lg:col-span-12 2xl:col-span-12">
        <div class="flex">
            <h2 class="intro-y text-lg font-medium mr-auto mt-2">Encrypt Files and Folders {{shared_functions.key}}</h2>
            <!-- BEGIN: Add File Button -->
            <div class="intro-y flex flex-col-reverse sm:flex-row items-center">
                <div class="w-full sm:w-auto relative mr-auto mt-3 sm:mt-0">

                </div>
                <div class="w-full sm:w-auto flex">
                    <button class="btn btn-primary shadow-md mr-2" (click)="select_files_to_encrypt()">Select Files</button>
                    <button class="btn btn-primary shadow-md mr-2"
                        (click)="select_folder_to_encrypt()">Select Folder</button>
                </div>
            </div>
        </div>

        <div class="bg-gradient-to-r from-purple-500 to-pink-500 mt-4 p-1 rounded-lg"
            *ngIf="FILE_SELECTION_ENABLED==undefined">
            <div
                class="intro w-full p-4 text-center bg-dark border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
                <h5 class="mb-2 pt-3 text-3xl font-bold text-gray-900 dark:text-white">
                    Encrypt Files faster than ever! &nbsp;
                    <i class="fa-solid fa-lock h-50 w-50"></i>
                </h5>
                <p class="text-xl font-semibold leading-normal text-gray-900 dark:text-white">
                    This app uses AES-256 encryption to encrypt your files and folders to make them secure.
                </p>

                <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">

                </div>
            </div>
        </div>


        <!-- #region Files -->
        <ng-container *ngIf="FILE_SELECTION_ENABLED">
            <h2 class="dark:text-md mt-4 font-bold">Total files selected: {{encryption_selected_files.length}}</h2>
            <div class="intro-y grid grid-cols-12 gap-3 sm:gap-6 mt-5 file_section" id="files">
                <ng-container *ngFor="let file of encryption_selected_files">
                    <div class="intro-y col-span-6 sm:col-span-4 md:col-span-3 2xl:col-span-2">
                        <div class="file box rounded-md px-5 pt-8 pb-5 px-3 sm:px-5 relative zoom-in"
                            [ngClass]="{'box-success' : file.encrypted,'box-error':file.encryption_error}">
                            <div class="absolute left-0 top-0 mt-3 ml-3" *ngIf="file.encrypted">
                                <!-- <input class="form-check-input border border-slate-500" type="checkbox" checked> -->
                                ✅
                            </div>
                            <div class="absolute right-0 top-0 mt-3 mr-3" *ngIf="file.encryption_error">
                                ⚠️
                            </div>
                            <a class="w-3/5 file__icon file__icon--file mx-auto">
                                <div class="file__icon__file-name">{{file.extension}}</div>
                            </a>
                            <a class="block font-medium mt-4 text-center truncate" title="{{file.path}}">{{file.name}}</a>
                            <div class="text-slate-500 text-xs text-center mt-0.5">{{file.size_in_kb | number:'.2' }} KB
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <!-- #endregion -->




        <!-- #region Folder-->
        <ng-container *ngIf="!FILE_SELECTION_ENABLED">
            <div class="intro-y grid grid-cols-12 gap-3 sm:gap-6 mt-5 folder_section">
                <div class="intro-y col-span-4 sm:col-span-4 md:col-span-3 2xl:col-span-2">
                    <div class="file box rounded-md px-5 pt-8 pb-5 px-3 sm:px-5 relative zoom-in"
                        *ngIf="encrypt_dir_obj.length!=0">
                        <a class="w-3/5 file__icon file__icon--directory mx-auto"></a>
                        <a class="block font-medium mt-4 text-center truncate"
                            title="{{encryption_selected_folder}}">{{encryption_selected_folder}}</a>
                    </div>
                </div>
                <div class="intro-y col-span-6 sm:col-span-8 md:col-span-9 2xl:col-span-10">
                    <ng-template #ul_li let-obj>
                        <ul
                            class="text-base font-medium text-gray-900 bg-dark border border-gray-200 rounded-lg dark:border-gray-600 ">
                            <li class="w-full px-5 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600 text-white"
                                *ngFor="let file of obj">
                                <ng-container *ngIf="file.children; else elseBlock">
                                    <i class="fa-solid fa-folder"></i> &nbsp;&nbsp; {{file.name}}
                                </ng-container>
                                <ng-template #elseBlock>
                                    <i class="fa-solid fa-file" [ngClass]="{'enc-success' : file.encrypted}"></i>
                                    &nbsp;&nbsp; {{file.name}} ({{file.size_in_kb | number:'.2' }} KB)
                                    <span *ngIf="file.encrypted">✅</span>
                                    <span *ngIf="file.encryption_error"> ⚠️</span>
                                </ng-template>
                                <ng-template [ngTemplateOutlet]="ul_li" [ngTemplateOutletContext]="{ 
                                    $implicit: file.children 
                                    }" *ngIf="file.children">
                                </ng-template>
                            </li>
                        </ul>
                    </ng-template>
                    <ng-template *ngIf="encrypt_dir_obj.length!=0" [ngTemplateOutlet]="ul_li"
                        [ngTemplateOutletContext]="{ $implicit: encrypt_dir_obj}">
                    </ng-template>
                </div>
            </div>
        </ng-container>
        <!-- #endregion -->

        <ng-container *ngIf="encryption_selected_files.length>0 || encryption_selected_folder.length  ">
            <button class="btn btn-primary shadow-md mr-2 mt-4" (click)="select_encryption_destination_folder()">
                Select Destination Folder
            </button>
            <button class="btn btn-primary shadow-md mr-2 mt-4" (click)="set_encrypt_in_place()">
                Encrypt In Place
            </button>
            <h4 class="inline border border-gray-900 rounded-lg dark:border-gray-900 p-3 h-100"><i class="fa-solid fa-folder"></i> &nbsp; 
                <span class="mb-2 inline text-sm font-medium text-gray-900 dark:text-white">Destination Encryption path: </span>
                {{encryption_destination_folder}}</h4>
            <div class="block my-2">
                <label for="helper-text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Secret Key</label>
                <div>
                    <input type="text" id="helper-text" aria-describedby="helper-text-explanation"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 inline w-75 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="s3creT" (keyup)="shared_functions.change_key($event)" 
                        [value]="shared_functions.key">
                    <button class="btn btn-primary shadow-md ml-5" (click)="encrypt()">Encrypt All</button>
                </div>
                <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">
                    Enter your desired secret key to encrypt the files.
                </p>
            </div>
        </ng-container>
        
    </div>
</div>
<div class="progress_bar" *ngIf="total_files">
    <div class="flex justify-between mb-1">
        <span class="text-base font-medium text-blue-700 dark:text-white">Encrypting</span>
        <span class="text-sm font-medium text-blue-700 dark:text-white">{{completed_files}}/{{total_files}}</span>
    </div>
    <div class="w-full rounded-full h-2.5 dark:bg-gray-700">
        <div class="bg-gradient-to-r from-purple-900 to-pink-500 h-2.5 rounded-full" [ngStyle]="{'width': progress_bar_value+'%'}"></div>
    </div>
</div>
<div class="errors_div">
    <ul>
        <li *ngFor="let error of encrypt_errors">
            {{error}}
        </li>
    </ul>
</div>